<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RevitCabling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <applicationSettings>
  <RevitCabling.Properties.Settings>
   <setting name="AssembleName" serializeAs="String">
    <value>RevitCabling.dll</value>
   </setting>
   <setting name="DebugAppPath" serializeAs="String">
    <value>C:\tmp\revit</value>
   </setting>
   <setting name="ReleaseAppPath" serializeAs="String">
    <value>Autodesk\Revit\Addins\2022\RevitCabling</value>
   </setting>
   <setting name="ImageFolderName" serializeAs="String">
    <value>Images</value>
   </setting>
   <setting name="EntryPoint" serializeAs="String">
    <value>RevitCabling.Startup</value>
   </setting>
   <setting name="DockableGUID" serializeAs="String">
    <value>6D57E667-6983-4741-A865-521E2DA01E08</value>
   </setting>
   <setting name="DockableName" serializeAs="String">
    <value>Cabling Plugin</value>
   </setting>
  </RevitCabling.Properties.Settings>
 </applicationSettings>
</configuration>